* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: #f23557; */

  background-image: url("img/bg.jpg");
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.container {
  margin: 0 1rem;
  padding-bottom: 1rem;
}
#app {
  display: flex;
  flex-direction: column;
  background-color: #827979;
  color: white;
  gap: 1rem;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  max-width: 400px;
  margin: auto;
  margin-top: 25px;
}

.holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  border-radius: 0.5rem;
  max-width: 40rem;
}

#entryHolder {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

#date {
}

#temp {
}

#content {
}

.headline {
  text-align: center;
}
.title {
  padding: 1rem 0 0 1rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  /* font-size: 1rem; */
}

input {
  display: block;
  background: #22b2da;
  color: #f0d43a;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 0.5rem;
}

button {
  /* width: 400px;
    height: 100px; */
  padding: 0.4rem 0;
  width: 7rem;
  margin: auto;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
  border-radius: 0.5rem;

  transition: all 300ms ease-in-out;
}
button:hover {
  background: #485f92;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
}

textarea {
  background: #22b2da;
  color: #f0d43a;
  border-radius: 0.5rem;

  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

.feel {
  max-width: 40rem;
}
